@font-face 
    font-family: 'Merriweather-Bold'
    src: url('/static/fonts/Merriweather-Bold.ttf')

@font-face 
    font-family: 'Ubuntu-Bold'
    src: url('/static/fonts/Ubuntu-Bold.ttf')

@font-face 
    font-family: 'Ubuntu-Regular'
    src: url('/static/fonts/Ubuntu-Regular.ttf')


@mixin respond($breakpoint)
    @if $breakpoint == laptop
        @media only screen and (max-width: 1022px)
            @content
    @if $breakpoint == tablet
        @media only screen and (max-width: 841px)
            @content
    @if $breakpoint == min-tablet
        @media only screen and (max-width: 673px)
            @content
    @if $breakpoint == phone
        @media only screen and (max-width: 391px)
            @content

*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    @include respond(laptop)
        font-size: 50%
    @include respond(tablet)
        font-size: 40%

body
    font-size: 1.8rem

.container
    display: grid
    grid-template-rows: minmax(6rem, 7rem) min-content
    row-gap: 3rem
    grid-template-columns: [leftpadding-start] minmax(4rem, 1fr) [leftpadding-end column-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [column-end rightpadding-start] minmax(4rem, 1fr) [rightpadding-end]

.header
    grid-column: leftpadding-start / rightpadding-end
    border-bottom: 2px solid black
    display: grid
    grid-template-columns: minmax(4rem, 1fr) repeat(3, minmax(min-content, 1fr)) 1fr repeat(10, minmax(min-content, 1fr)) minmax(4rem, 1fr)

.nav
    display: flex
    align-items: center
    justify-content: flex-end
    grid-column: 10 / -2
    border-left: 2px solid black

.logo
    height: 100%
    right: 5rem
    grid-column: 2 / 5
    border-right: 2px solid black

.nav-links
    display: flex
    padding-left: 2rem
    justify-content: space-between
    list-style-type: none
    &__item
        font-family: 'Ubuntu-Bold', sans-serif
        text-align: center
        &:not(:last-child)
            margin-right: 2rem
        &_welcome
            font-family: 'Ubuntu-Regular', sans-serif
    &__link
        &:link, &:visited
            color: #000000
            text-decoration: none
            text-transform: uppercase

label
    font-family: 'Ubuntu-Bold'
    font-size: 1.4rem
    line-height: 2.2rem
    text-transform: uppercase
    display: block

.helptext
    display: block
    font-style: italic

