.main-current
    grid-column: column-start / column-end
    display: grid

.title-chapter
    text-align: center
    margin-bottom: 1rem

.table-current
    padding: 0 5rem

.caption
    &__title
        display: inline-block
    &__delete-chapter
        display: inline-block