{% extends 'bookmovielistapp/base.html' %}



{% block content %}
{% if user.is_authenticated %}
{{ error }}
{% for chapter in chapters %}
    {{ chapter.name }}
    {% for list in lists %}
        {% if list.name and list.chapter == chapter %}{{ list.name }}{% endif %}
            {% for elem in elems %}
                {% if elem.name and elem.bookmovieid == list and elem.chapter == chapter %}
                    {{ elem.name }}
                {% endif %}
            {% endfor %}

    {% endfor %}

{% endfor %}
<form method="POST">
    {% csrf_token %}
    {{ form1.as_p }}
<button name="create_lists" type="submit">Создать раздел</button>
</form>
<form method="POST" id="create_elems">
    {% csrf_token %}
    {{ form2.as_p }}
<button name="create_elem" type="submit">Создать раздел</button>
</form>
{% endif %}
{% endblock %}