{% extends 'bookmovielistapp/base.html' %}

{% block content %}
<main class="main-current">
    {% if user.is_authenticated %}
    <div class="box-btn">
        <input id="create-chapter" value="Создать подраздел" type="submit" class="form-btn form-btn_chapter box-btn__create-chapter">
        <input id="create-element" value="Создать элемент" type="submit" class="form-btn form-btn_elem box-btn__create-elem">
    </div>
    {{ error }}
    {% for chapter in chapters %}
    <h2 class="title-chapter chapter">{{ chapter.name }}</h2>
    {% for list in lists %}
        {% if list.name and list.chapter == chapter %}
            <table class="table-current">
                <caption class="caption">
                    <h3 class="caption__title title-caption">{{ list.name }}</h3>
                    <form class="caption__delete-chapter" action="{% url 'listdelete' list.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn-delete" type="submit">&times;</button>
                    </form>
                </caption>
                <thead>
                    <th class="title-column">Название</th>
                    <th class="title-column">Автор/Режиссёр</th>
                    <th class="title-column">Описание</th>
                    <th class="title-column">Год выпуска</th>
                    <th class="title-column">Дата прочтения/просмотра</th>
                </thead>
                <tbody>
                    {% for elem in elems %}
                        {% if elem.bookmovieid == list and elem.chapter == chapter %}
                            {% if elem.likes %}
                            <tr  style="background-color: green; color: white;">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>
                                    {% if elem.name %}
                                            {{ elem.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if elem.author %}
                                            {{ elem.author }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if elem.description %}
                                            {{ elem.description}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if elem.year_of_issue %}
                                            {{ elem.year_of_issue|date:"Y" }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if elem.day_complete %}
                                            {{ elem.day_complete }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    <form action="{% url 'elemdelete' elem.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn-delete btn-delete_elem" type="submit">&times;</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
    
    
    {% endfor %}
    <div class="formbox" id="formboxchapter">
        <a id="formboxchapter-close" class="formbox__close btn-delete btn-delete_link" href="#">&times;</a>
        <form method="POST" class="form-chapter">
                {% csrf_token %}
                {{ form1.as_p }}
            <button class="form-btn" name="create_list" type="submit">Создать подраздел</button>
        </form>
    </div>
    
    <div class="formbox" id="formboxelem">
        <a id="formboxelem-close" class="formbox__close btn-delete btn-delete_link" href="#">&times;</a>
        <form method="POST" id="create_elems" class="form-elem">
                {% csrf_token %}
                {{ form2.as_p }}
            <button class="form-btn" name="create_elem" type="submit">Создать элемент</button>
        </form>
    </div>
    {% endif %}
    
</main>

{% endblock %}