{% extends "bookmovielistapp/base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<main class="change-form">
    <h2 class="title">Изменить свой пароль</h2>
    <p class="text mb-20px">Используйте форму ниже, чтобы изменить свой пароль.</p>
    <form method="post">
        {{ form.as_p }}
        <p class="mb-20px"><input class="form-btn" type="submit" value="Изменить"></p>
        <a class="text" href="{% url 'current' %}">Вернуться</a>
        {% csrf_token %}
    </form>
</main>

{% endblock %}